bag-compiler/bin/bag-compiler
bag-objcopy/bin/bag-objcopy
bag-upload/bin/bag-upload

bag-compiler/obj/*
bag-objcopy/obj/*
bag-upload/obj/*

compiler/compiler
compiler/*.asm
compiler/*.bag

*/*.bytes
*/*.asm
main.o
*/*.gch

doc/Conception-de-circuit-numériques-BESSE-_-JOUBERT.pdf
